@page
@model EcommerceApp.Backend.Pages.Account.SettingsModel
@{
    ViewData["Title"] = "Account Settings";
}

<h2>Account Settings</h2>


<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table w-auto">
        <tr>
            <th>Name</th>
            <td>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Email</th>
            <td>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>
                <input asp-for="User.Phone" class="form-control" />
                <span asp-validation-for="User.Phone" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-success">Save</button>
            </td>
        </tr>
    </table>
</form>

@if (Model.Message != null)
{
    <div>@Model.Message</div>
}
